

#footer{
    color: white;
text-align: center;
}
body{
    background-color: black;
}


#p1{
    color: white;
}
#h2{
    color: white;
    text-decoration: underline blue;
}
.paragraphs{
    margin-left: 600px;
    width: 500px;
    height: 400px;
    font-size: 20px;
    color: white;
 text-shadow: 1px 1px 5px blue;
}

#button5{
    color: blue;
    background-color: black;
    border: none;
    text-shadow: 1px 1px 5px blue;
}

#h22{
    text-decoration: underline blue;

}



.side{
    width: 200px;
    height: 100vh; 
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    position: fixed; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}
#open{
    color: white;
    margin-left: 400px;
}
